Order Deny,Allow
Deny from all
Allow from 127.0.0.1

<Files post.html>
    Order Allow,Deny
    Allow from all
</Files>

<Files ../store_variables.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files ../read_data.php>
    Order Allow,Deny
    Allow from all
</Files>

